In [1]:
import pandas as pd

In [2]:
inf = pd.read_csv('/home/asajw/SETI/output/NetArcFace_legacy_seresnet18_bs32_AllChl256258_mixupFalse_augSwapDropFlip_ohemFalse_scdCosineAnnealingWarmRestarts_dropoutFalse_InvOrigNorm_epoch8/inference_arcface.csv')

In [3]:
inf.head()

,Unnamed: 0,id,target,image_path,target_conf_0,target_conf_1
0,0,00034db451c4,0.424719,/mnt/gfs/gv1/project_sonar_data/seti/resized_i...,0.575281,0.424719
1,1,0006316b5ca0,0.432287,/mnt/gfs/gv1/project_sonar_data/seti/resized_i...,0.567713,0.432287
2,2,0006a953d21b,0.425040,/mnt/gfs/gv1/project_sonar_data/seti/resized_i...,0.574960,0.425040
3,3,0008a33d6695,0.439795,/mnt/gfs/gv1/project_sonar_data/seti/resized_i...,0.560205,0.439795
4,4,00095b5119fc,0.435580,/mnt/gfs/gv1/project_sonar_data/seti/resized_i...,0.564420,0.435580

In [4]:
inf.target.describe()

count    35847.000000
mean         0.448610
std          0.056263
min          0.406723
25%          0.420868
50%          0.426380
75%          0.438478
max          0.602151
Name: target, dtype: float64

In [5]:
oof = pd.read_csv('/home/asajw/SETI/output/NetArcFace_legacy_seresnet18_bs32_AllChl256258_mixupFalse_augSwapDropFlip_ohemFalse_scdCosineAnnealingWarmRestarts_dropoutFalse_InvOrigNorm_epoch8/auc_oof_df_NetArcFace_legacy_seresnet18_bs32_AllChl256258_mixupFalse_augSwapDropFlip_ohemFalse_scdCosineAnnealingWarmRestarts_dropoutFalse_InvOrigNorm_epoch8.csv')

In [6]:
oof.head()

   predictions  targets  target_ids
0     0.591350      1.0       48892
1     0.437440      0.0        3027
2     0.424302      0.0        1355
3     0.444483      0.0       17262
4     0.596777      1.0       48600

In [7]:
oof.describe()

        predictions       targets    target_ids
count  50165.000000  50165.000000  50165.000000
mean       0.441110      0.093571  25082.000000
std        0.048024      0.291234  14481.532464
min        0.394671      0.000000      0.000000
25%        0.419822      0.000000  12541.000000
50%        0.426302      0.000000  25082.000000
75%        0.436321      0.000000  37623.000000
max        0.609018      1.000000  50164.000000

In [24]:
oof[oof.targets == 1].query('predictions<0.45')

       predictions  targets  target_ids
704       0.444401      1.0       41725
856       0.428955      1.0       11246
876       0.422060      1.0        7294
885       0.425369      1.0       19111
1118      0.436372      1.0       44698
...            ...      ...         ...
49537     0.430040      1.0       41029
49822     0.447242      1.0       45312
49884     0.434436      1.0       46335
49967     0.416282      1.0        8494
49989     0.429117      1.0       11103

[292 rows x 3 columns]